/* This file is for your main application css. */

@import "./phoenix.css";

.bank-logo {
  color: rgba(0,0,0,.9);
  font-size: 1.3em;
}

.nav-items {
  display: inline-flex;
  justify-content: space-between;
}

.nav-items a {
  padding-right: 8px;
  padding-left: 6px;
}

.options {
  margin: 20px 3px 2px 3px;
  width: 210px;
}

.form-transfer #username, #amount{
  width: 200px;
}
